.button {
    background-color: gray;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 }
table.lamp {
    border:1px solid #d4d4d4;
    align:left;
}

table.lamp th, td {
    padding:10px;
}
table.lamp th {
    height:70px;
}
header {
    padding:5px;
    width:99%;
    padding:1px;
}
section {
    width:100%;
    padding:1px;
    float:center;
}
footer {
    clear:both;
    text-align:center;
    padding:1px;
}
#divclass{
	width:455px;
	border:1px solid black;	
	margin-left:32%;
	margin-top:3%;
}

#myTable{
	border:1px solid black;
	width:100%;
	hight:70%;
	overflow:scroll;
}

#div_enrollpage_retriveButton{
	margin-left:93%;
	margin-bottom:1%;
}

table.myTableClass tr th{
	background-color:gray;
	color: white;
	padding:10px;
}

table.myTableClass td{
		border:1px solid black;	
	    padding:10px;
}

table.myTableClass tr:nth-child(even){
	background-color: #f2f2f2
}

